.ab-home {
    display: flex;
    flex-direction: row;
    height: 100%;
    color: #FAFAFA;
    background-color: #000;
    .ab-home-sidebar {
        width: 250px;
        border-right: 1px solid #FAFAFA;
        height: 100%;
    }
    .ab-home-main {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .ab-grill {
            position: relative;
           
            ion-grid {
                height: 100%;
                ion-row {
                    height: 33.33%;
                    align-items: center;
                }
                ion-col {
                    .ab-grill-cell {
                        position: relative;
                        height: 100%;
                        width: 100%;
                     
                        // .ab-grill-item {
                        //     position: absolute;
                        //     top: calc(50% - 20px);
                        //     left: calc(50% - 20px);
                        //     height: 40px;
                        //     width: 40px;
                        //     z-index: 1;
                        //     border-radius: 20px;
                        //     &.ab-grill-burger {
                        //         background-color: red;
                        //     }
                        // }
                        .ab-grill-main {
                            position: absolute;
                            z-index: 1;
                            top: calc(50% - 30px);
                            left: calc(50% - 30px);
                        
                            &.ab-grill-burger{
                                height: 60px;
                                width: 60px;
                                border-radius: 30px;
                                background-color: red;
                            }
                            &.ab-grill-turkey{
                                height: 60px;
                                width: 60px;
                                border-radius: 30px;
                                background-color: green;
                            }
                            
                        }

                        .ab-grill-cheese {
                            position: absolute;
                            z-index: 2;
                            top: calc(50% - 15px);
                            left: calc(50% - 15px);
                            height: 30px;
                            width: 30px;
                            color: #000;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            &.ab-grill-american{
                                background-color: yellow;
                            }
                        }
                        .ab-grill-cursor {
                            position: absolute;
                            right: 0;
                            top: calc(50% - 12px);
                            width: 12px;
                            height: 24px;
                        }
                    }
                   
                }
            }
            width: 400px;
            height: 300px;
            border: 1px solid #FAFAFA;
        }
    }
}

ion-footer {
    background-color: #000;
    color: #FAFAFA;
    border-top: 1px solid #FAFAFA;
    padding: 5px;
}